/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightskyblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* general */
span {
    display: block;
}

h1 {
    text-shadow: 2px 2px grey;
    margin: 20px 0;
    text-align: center;
    font-size: 50px;
}

img{
    width: 100%;
}


/* body */

#container {
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
}

.position {
    text-shadow: 1px 1px grey;
}

.card {
    text-align: center;
    display: inline-block;
    width: 32%;
    padding: 20px;
    font-size: 20px;
}

.names {
    font-size: 25px;
    font-weight: bold;
}